<h1>Messenger</h1>
<h2> Chatting with: <%= @user.name %> </h2>
<hr>
<div class='chat-contein'>
  <% @messages.each do |message| %>
    <div>
      <h2 class = "message <%= (message.getCssClass(current_user)) %>">
          <span><%= message.getMessage(current_user) %></span>
          <p class='time'>Sent at: <%= message.getTime %></p>
        </h2>
    </div>
  <% end %>
</div>
<%= render 'conversation' ,id:params[:id]%>
