<li task-id="<%= task.id %>" class="tasks">
  <div class = "<%=task.getClassType%>">
    <div>
      <div class ='info'>
        <i><%= task.title %></i>
        <p><%= task.deadline.strftime("%m/%d/%Y") %></p>
      </div>
      <div>
        <button class='btn btn-sm btn-default'><%= link_to 'Edit',edit_task_path(task.id) %> </button>
        <button class='button-flag btn btn-sm btn-default'><%= link_to 'Flag',task_flag_path(task.id) %> </button>
        <button class='btn btn-danger btn-delete btn-sm'>
          <%= link_to 'Delete', task_path(task),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>
        </button>
      </div>
    </div>
  </div>
</li>
