<li task-id="<%= task.id %>" class="tasks">
  <div class = "<%=task.getClassType%>">
    <div>
      <div class ='info'>
        <i><%= task.title %></i>
        <p><%= task.deadline.strftime("%m/%d/%Y") %></p>
      </div>
      <div>
        <button class='btn btn-sm btn-default'><%= link_to 'Edit',edit_task_path(task.id) %> </button>
        <button class='button-flag btn btn-sm btn-default'>Urgent</button>
        <button class='btn btn-danger btn-delete btn-sm btn-remove-task'>
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
    </div>
  </div>
</li>
