<div class='edit-goal' goal-id="<%= goal.id %>">
  <div class='info'>
    <label><h2><%= goal.title %></h2></label>
    <br>
    <button class=" btn btn-default btn-sm"><%= link_to 'Edit', edit_goal_path(goal.id) %></button>
    <button class="addTask btn btn-default btn-sm">Add Tasks</button>
    <button class='saveTasks btn btn-default btn-sm'>Save</button>
    <button class='btn-delete btn btn-danger btn-sm btn-remove-goal'>
      Delete
    </button>
    <h4>Description: <%= goal.description %></h4>
    <h5>Deadline: <%= goal.deadline.strftime("%m/%d/%Y") %> </h5>
    <hr>
  </div>
  <ul class='goallist' goal-id="<%= goal.id %>">
    <!-- <li class='tasks'>
      <%= render '/tasks/new' %>
    </li> -->
    <% tasks = Task.getTasks(goal.id) %>
    <% tasks.each do |task| %>
      <%= render '/tasks/edit', task:task %>
    <% end %>
  </ul>
  <hr>
</div>
