<div class='new-form'><ul class='goallist'>
  <div id='new-goal-form'>
    <%= form_tag '#',:onSubmit => "return false" do |f|  %>

      <%= label_tag :title %>
      <%= text_field_tag :title, nil, class: "form-control" %>

      <%= label_tag :description %>
      <%= text_area_tag :description, nil, class: "form-control" %>

      <%= label_tag :deadline %>
      <%= text_field_tag :deadline,nil, class: 'form-control' %>

      <br>
      <%= button_tag 'New Goal', class: "new-goal-complete btn btn-default",id:'new-goal-submit' %>
      <%= button_tag 'Cancel',id:'new-goal-cancel', class: "new-task-cancel btn btn-default" %>
    <% end %>
  </div>
</ul><hr></div>
